<md-dialog aria-label="Login">
  <form name="loginForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container class="md-icon-float">
        <label>Username</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
        <input name="username" ng-model="loginDialogCtrl.user.username" type="text" required>
      </md-input-container>
      <md-input-container class="md-icon-float">
        <label>Password</label>
        <md-icon md-svg-src="img/icons/ic_lock_24px.svg"></md-icon>
        <input ng-model="loginDialogCtrl.user.password" type="password" required>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="column" layout-align="center">
      <md-button layout="row" layout-align="center center" ng-click="loginDialogCtrl.login()">
        Login
      </md-button>
    </div>
  </form>
</md-dialog>
