<md-dialog aria-label="New Room">
  <form name="createRoomForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Room</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="createRoomCtrl.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
       <md-content layout-padding>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Room name</label>
            <input ng-enter="createRoomCtrl.create()" ng-model="createRoomCtrl.newRoom.name" required>
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="column" layout-align="center">
      <md-button class="md-primary md-raised" layout="row" layout-align="center center" ng-click="createRoomCtrl.create()">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
