<md-content class="md-padding">
  <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
    <md-tab ng-repeat="room in mainCtrl.openedRooms">
      <md-tab-label>{{room.name}} <a ng-click="mainCtrl.removeRoom($index,room)">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon>
      </a>
      </md-tab-label>
      <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
        <div> lorem ipsum</div>
        <br/>
        <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
</md-content>
