/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

body{
  background-image: url('../img/background.jpg');
  background-size: cover;
}

.avatar{
  height: 128px;
  border-radius: 50%;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cover{
  background-color: #EBEBEB;

  .fullname{
    margin-bottom: 3px;
    margin-top: 0px;
  }
  .username{
    margin-bottom:5px;
  }
}

message md-chips{
  margin: auto;
  .md-chips{
    box-shadow: none;
  }
}
