<div layout="row" layout-wrap>
  <md-content class="side-nav" flex="20" style="height: 60vh;">
    <md-list>
      <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in roomItemCtrl.users">
        <!--<img src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg' class="md-avatar" alt="{{contact.name}}"/>-->
        <md-icon md-svg-icon="{{contact.avatar}}" class="md-avatar"></md-icon>
        <div class="md-list-item-text compact">
          <h3>{{contact.name}}</h3>
          <p>{{contact.username}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
<md-content layout="column" flex="80">
  <md-content style="height: 60vh;">
    {{ roomItemCtrl.messages }}
  </md-content>
  <md-input-container>
    <label>New Message</label>
    <input ng-enter="roomItemCtrl.createMessage(newMessage)" ng-model="newMessage" md-maxlength="150" />
  </md-input-container>
</md-content>

</div>
