<md-content flex ng-if="mainCtrl.openedRooms.length > 0">
  <md-subheader>Opened Rooms right now</md-subheader>
  {{mainCtrl.openedRooms}}
  <md-tabs md-dynamic-height md-selected="mainCtrl.selectedIndex" md-border-bottom md-autoselect>
    <md-tab ng-repeat="room in mainCtrl.openedRooms">
      <md-tab-label>{{room.name}} <a ng-click="mainCtrl.removeRoom($index,room)">
        <md-icon md-svg-icon="navigation:close"></md-icon>
      </a>
      </md-tab-label>
      <div ui-view flex></div>
  </md-tabs>
</md-content>
<md-content ng-if="mainCtrl.openedRooms.length == 0" layout="column">

  <h3 layout="row" layout-align="center center">
    No rooms opened
  </h3>
  <md-icon md-svg-icon="action:info"></md-icon>

  <p layout="row" layout-align="center">Select a room to communicate with interesting people :)</p>
</md-content>
